{{ ansible_managed | comment }}
#
# dyfi-update.pl config file
#
# use the -f option of dyfi-update.pl to specify the
# location of this file. If the -f option is not given,
# the script expects to get all parameters on the command line.
#
# Please remember - dyfi-update.pl is a daemon. Do not put it in
# crontab. Run it from an init script when booting.
#

# dy.fi username (email address) and password:
User            {{ item.user }}
Password        {{ item.password }}

# List of hostnames to point to the address of the host where the
# dyfi-update.pl client is running
Hosts           {{ item.hosts | join(' ') }}

# Release hosts when shutting down? Set to 'no' or comment the
# following line out to disable releasing hosts at shutdown.
# With the 'offline URL' feature of dy.fi, and automatic
# releasing, you can forward web browsers to another URL while
# your home web server is down.
#Release yes

# Log file: filename or - for stdout
Logfile         /var/log/dyfi-update-{{ item.name }}.log

# Write the PID of the dyfi-update.pl process to this file
# This is a mandatory parameter, a PID file is required for
# the 'rabbit check' (makes sure only one copy of dyfi-update
# is running at a time).
Pidfile         /var/run/dyfi-update-{{ item.name }}.pid
