[Unit]
Description=Arma server: %i
{# Systemd recommends using network.target for servers that only listen for
incoming connections. Using network-online.target here instead because
checking for mod updates requires a network connection. For more info:
https://systemd.io/NETWORK_ONLINE/ #}
Wants=network-online.target
After=network-online.target

[Service]
Environment=PATH={{ bin }}:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
ExecStart={{ bin }}/internal/service-wrapper.py %i
User={{ user }}
Group={{ group }}
WorkingDirectory={{ workdir }}
SyslogIdentifier=arma %i

[Install]
WantedBy=multi-user.target
