server {
  listen 80;
  listen [::]:80;
  server_name {{ server_name }};
  underscores_in_headers on;

  access_log {{ access_log }};
  error_log {{ error_log }};

  location / {
    return 301 https://$server_name$request_uri;
  }
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{ server_name }};
  
  access_log {{ access_log }};
  error_log {{ error_log }};

  root {{ root }};
  index index.html index.htm;

  {% if redirects is defined -%}
    {% for redirect in redirects -%}
      rewrite ^/{{ redirect[0] }}$ {{ redirect[1] }} redirect;
    {% endfor -%}
  {% endif %}

  {%- if le is defined and le -%}

  ssl_certificate /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;
  {% endif %}

  location / {
    try_files $uri $uri/ =404;
  }
}
