server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;
  server_name {{ server_name }};
  underscores_in_headers on;

  access_log {{ access_log }};
  error_log {{ error_log }};

  location / {
    return 302 https://$server_name$request_uri;
  }
}

server {
  listen 443 ssl;
  listen [::]:443 ssl ipv6only=on;
  server_name {{ server_name }};
  
  access_log {{ access_log }};
  error_log {{ error_log }};

  root {{ root }};
  index index.html index.htm;

  {% for redirect in redirects %}
    rewrite ^/{{ redirect[0] }}$ {{ redirect[1] }} redirect;
  {% endfor %}

  location / {
    try_files $uri $uri/ =404;
  }
}
