{
    "bindAddress": "0.0.0.0",
    "bindPort": 2001,
    "publicAddress": "{{ reforger.server_public_address }}",
    "publicPort": {{ reforger.port }},
    "a2s": {
        "address": "0.0.0.0",
        "port": {{ reforger.a2s_port }}
    },
    "rcon": {
        "address": "0.0.0.0",
        "port": {{ reforger.rcon_port }},
        "password": "{{ reforger.rcon_password }}",
        "permission": "admin"
    },
    "game": {
        "name": "{{ reforger.game_name }}",
        "password": "{{ reforger.game_password }}",
        "passwordAdmin": "{{ reforger.game_password }}",
        "admins": [],
        "scenarioId": "{59AD59368755F41A}Missions/21_GM_Eden.conf",
        "maxPlayers": 64,
        "visible": true,
        "supportedPlatforms": [
            "PLATFORM_PC",
            "PLATFORM_XBL"
        ],
        "gameProperties": {
            "serverMaxViewDistance": 2500,
            "serverMinGrassDistance": 50,
            "networkViewDistance": 1000,
            "disableThirdPerson": true,
            "fastValidation": true,
            "battlEye": true,
            "missionHeader": {
                "m_iPlayerCount": 40,
                "m_eEditableGameFlags": 6,
                "m_eDefaultGameFlags": 6,
                "m_ACE_Settings": {
                    "m_ACE_Medical_Settings": {
                        "m_fSecondChanceRegenScale": 0,
                        "m_bSecondChanceOnHeadEnabled": 0,
                        "m_bHealSupplyUsageEnabled": 1,
                        "m_fMedicalKitMaxHealScaled": 0.5
                    }
                }
            }
        },
        "mods": [
            {
                "modId": "606B100247F5C709",
                "name": "Bacon Loadout Editor"
            },
            {
                "modId": "5B3ED33ADA805340",
                "name": "Task Force Mattock Weapons"
            },
            {
                "modId": "5F2944B7474F043F",
                "name": "Disable Game Master Budgets"
            },
            {
                "modId": "5965550F24A0C152",
                "name": "Where Am I"
            },
            {
                "modId": "595F2BF2F44836FB",
                "name": "RHS - Status Quo"
            },
            {
                "modId": "5964E0B3BB7410CE",
                "name": "Game Master Enhanced"
            },
            {
                "modId": "5AB890B71D748750",
                "name": "M4A1 Block II and URG-I"
            },
            {
                "modId": "5AB301290317994A",
                "name": "Suppressors"
            },
            {
                "modId": "5ABD0CB57F7E9EB1",
                "name": "RIS Laser Attachments"
            },
            {
                "modId": "60C4C12DAE90727B",
                "name": "ACE Medical"
            },
            {
                "modId": "5B0D1E4380971EBD",
                "name": "COALITION Squad Interface"
            },
            {
                "modId": "5EB744C5F42E0800",
                "name": "ACE Chopping"
            },
            {
                "modId": "60E573C9B04CC408",
                "name": "ACE Backblast"
            },
            {
                "modId": "60C53A9372ED3964",
                "name": "ACE Compass"
            },
            {
                "modId": "60EAEA0389DB3CC2",
                "name": "ACE Trenches"
            },
            {
                "modId": "60C4CE4888FF4621",
                "name": "ACE Core"
            },
            {
                "modId": "606C369BAC3F6CC3",
                "name": "ACE Finger"
            },
            {
                "modId": "60C40CDB56C23C6B",
                "name": "vPad"
            },
            {
                "modId": "5DBD560C5148E1DA",
                "name": "ACE Carrying"
            },
            {
                "modId": "60C4E0B49618CC62",
                "name": "ACE All in One"
            }
        ]
    }
}
