{
    "bindAddress": "0.0.0.0",
    "bindPort": 2001,
    "publicAddress": "{{ reforger.server_public_address }}",
    "publicPort": {{ reforger.port }},
    "a2s": {
        "address": "0.0.0.0",
        "port": {{ reforger.a2s_port }}
    },
    "rcon": {
        "address": "0.0.0.0",
        "port": {{ reforger.rcon_port }},
        "password": "{{ reforger.rcon_password }}",
        "permission": "admin"
    },
    "game": {
        "name": "{{ reforger.game_name }}",
        "password": "{{ reforger.game_password }}",
        "passwordAdmin": "{{ reforger.game_password }}",
        "admins": [],
        "scenarioId": "{44EE1B0493E88B4E}Missions/Operation Develera.conf",
        "maxPlayers": 64,
        "visible": true,
        "supportedPlatforms": [
            "PLATFORM_PC",
            "PLATFORM_XBL"
        ],
        "gameProperties": {
            "serverMaxViewDistance": 2500,
            "serverMinGrassDistance": 50,
            "networkViewDistance": 1000,
            "disableThirdPerson": true,
            "fastValidation": true,
            "battlEye": true,
            "missionHeader": {
                "m_iPlayerCount": 40,
                "m_eEditableGameFlags": 6,
                "m_eDefaultGameFlags": 6,
                "m_ACE_Settings": {
                    "m_ACE_Medical_Settings": {
                        "m_fSecondChanceRegenScale": 0,
                        "m_bSecondChanceOnHeadEnabled": 0,
                        "m_bHealSupplyUsageEnabled": 1,
                        "m_fMedicalKitMaxHealScaled": 0.5
                    }
                }
            }
        },
        "mods": [
            {
                "modId": "5F0D245931200FD1",
                "name": "Railway Generator",
                "version": "1.0.4"
            },
            {
                "modId": "60C4C12DAE90727B",
                "name": "ACE Medical",
                "version": "1.2.0"
            },
            {
                "modId": "62CCD69DD17E4F2F",
                "name": "AKI CORE",
                "version": "1.0.3"
            },
            {
                "modId": "5D84C738432BFE6A",
                "name": "WolfsBuildingPack",
                "version": "0.1.44"
            },
            {
                "modId": "595F2BF2F44836FB",
                "name": "RHS - Status Quo",
                "version": "0.10.3948"
            },
            {
                "modId": "60B8E15B61C3F97A",
                "name": "vPad_Test",
                "version": "1.1.74"
            },
            {
                "modId": "5EB744C5F42E0800",
                "name": "ACE Chopping",
                "version": "1.2.0"
            },
            {
                "modId": "60EAEA0389DB3CC2",
                "name": "ACE Trenches",
                "version": "1.2.0"
            },
            {
                "modId": "6273146ADFE8241D",
                "name": "AH6M",
                "version": "1.1.14"
            },
            {
                "modId": "606C369BAC3F6CC3",
                "name": "ACE Finger",
                "version": "1.2.0"
            },
            {
                "modId": "5965550F24A0C152",
                "name": "Where Am I",
                "version": "1.1.0"
            },
            {
                "modId": "631B31E0BD4F1281",
                "name": "IMSF",
                "version": "1.0.6"
            },
            {
                "modId": "611CB1D409001EB0",
                "name": "ACE Magazine Repack",
                "version": "1.2.0"
            },
            {
                "modId": "5DBD560C5148E1DA",
                "name": "ACE Carrying",
                "version": "1.2.0"
            },
            {
                "modId": "5E92F5A4A1B75A75",
                "name": "Player Map Markers",
                "version": "1.1.1"
            },
            {
                "modId": "61D57616CAFBB23D",
                "name": "WCS_LoadoutEditor",
                "version": "1.0.47"
            },
            {
                "modId": "597697D81A1EA202",
                "name": "Zimnitrita",
                "version": "0.5.0"
            },
            {
                "modId": "632759EBF041FA2D",
                "name": "CM-SquadRadioSound",
                "version": "0.0.3"
            },
            {
                "modId": "60612C225328522E",
                "name": "No Weapon Drop Unconscious",
                "version": "1.0.6"
            },
            {
                "modId": "61B7763A8AEB53B7",
                "name": "ACE Explosives",
                "version": "1.2.0"
            },
            {
                "modId": "63362108BD0DB45F",
                "name": "IMSF_Zimnitrita",
                "version": "1.1.5"
            },
            {
                "modId": "629B2BA37EFFD577",
                "name": "WCS_Armament",
                "version": "1.0.72"
            },
            {
                "modId": "60E573C9B04CC408",
                "name": "ACE Backblast",
                "version": "1.2.0"
            },
            {
                "modId": "6148039B7313C031",
                "name": "WCS_Core",
                "version": "2.0.173"
            },
            {
                "modId": "60C53A9372ED3964",
                "name": "ACE Compass",
                "version": "1.2.0"
            },
            {
                "modId": "60C4CE4888FF4621",
                "name": "ACE Core",
                "version": "1.2.0"
            },
            {
                "modId": "5E8EB849F3CF691C",
                "name": "ML_Eastern_European_Assets",
                "version": "1.0.37"
            },
            {
                "modId": "612F512CD4CB21D5",
                "name": "WCS_Earplugs",
                "version": "1.0.9"
            },
            {
                "modId": "60C4E0B49618CC62",
                "name": "ACE All in One",
                "version": "1.2.1"
            }
        ]
    }
}
